.container{
    width: 80%;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 10px;
}

.item{
    margin: 10px;
}

.btn {
    visibility:hidden
}

.item:hover .btn{
    visibility:visible;
    text-align: center;
}


.text{
    text-align: center;
}
