.container{
    width: 80%;
    
}
.row {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.item{
    margin: 10px;
}

.btn {
    visibility:hidden
}

.item:hover .btn{
    visibility:visible;
    text-align: center;
}


.texttitle{
    text-align: center;
}

.text{
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
}